<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.kb.myworkout">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MyWorkouts"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateWorkout"
            android:parentActivityName=".MyWorkouts" />
        <activity
            android:name=".AddTimeInterval"
            android:parentActivityName=".CreateWorkout" />
        <activity android:name=".RecordedVoices" />
        <activity
            android:name=".WorkoutActivity"
            android:label="@string/title_activity_workout"
            android:parentActivityName=".MyWorkouts"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.kb.myworkout.MyWorkouts" />
        </activity>
        <activity
            android:name=".EditWorkoutActivity"
            android:label="@string/title_activity_edit_workout"
            android:parentActivityName=".WorkoutActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.kb.myworkout.WorkoutActivity" />
        </activity>
        <activity
            android:name=".StartWorkoutActivity"
            android:label="@string/title_activity_start_workout"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>